<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>
    <add key="SiteUrl" value="http://localhost:4200/" />
    <add key="HomeUrl" value="http://localhost:4200/home" />
    <add key="RegisterUrl" value="/inscricao" />
    <add key="LoginUrl" value="/entrar" />
    <add key="FolderPicture" value="\ScreenShots\" />
    <add key="ChromeDrive" value="D:\Projetos\Eventos.IO\API - 2.0\server\packages\Selenium.WebDriver.ChromeDriver.2.38.0.1\driver\win32" />

    <add key="TestUserName" value="contato@eduardopires.net.br" />
    <add key="TestPassword" value="Teste@123" />
  </appSettings>
  <specFlow>
    
    <language feature="pt-BR" />
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>